body{
    height: 100%;
    width: 100%;
}
.logo{
    text-align: center;
}
.redesSociais{
    text-align: right;
    margin-right: 40px;
}
header{
    border: 1px solid red;
}
#text1{
    align-items: center;
    margin-top: 40px;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}
#photo1{
    margin-left: 400px;
}
#textinside{
    text-align: center;
    border: 1px solid purple;
    padding: 50px;
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
}
#menus{
    border: 1px solid yellow;
    text-align: center;
    background-color: burlywood;

}
.menusli{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
.text2{
    border: 1px solid blue;

}
.text2 h2{
    text-align: center;
}